.slide {
  display: flex;
  flex-direction: row !important;
  width: 80% !important;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap !important;
  margin: 27px auto !important;
}

.image {
  height: 70px !important;
  width: 70px !important;
}

.thumbs-wrapper.axis-vertical {
  display: none;
}
.carousel-root {
  max-width: 100% !important; /* Set your desired maximum width */
  margin: 0 auto; /* Center the carousel */
}

/* Adjust the width of each individual slide */
.carousel .slide {
  width: 100%; /* Set the width as needed, e.g., 100% for full width */
  max-width: 800px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the slide */
}
